.wrapper { width: 100%; position: relative; }
.wrapper.grey { background: #f8f8f8; }
.offset { margin: 80px 0px 0px 80px; overflow: hidden;}

#lg-window  { position: absolute;  width: 550px; height: 400px; left: 400px; top: 80px; z-index: 99999; background-color: #ffffff; display: none;}
#lg-window .close { cursor: pointer;}
#lg-window.on { display: block; }
#lg-window .up { height: 150px; }
#lg-window .up .no-sign-in { line-height: 30px; text-align: center;}
#lg-window .up .weibo { cursor: pointer; height: 50px; width: 160px; line-height: 50px;  float: left; background-color: #d44137; margin: 20px 0px 0px 80px;}
#lg-window .up .weibo img { margin-left: 40px; margin-top: 15px;}
#lg-window .up .weibo .weibo-text { margin-right: 46px; color: #ffffff; font-size: 18px;text-align: center; }
#lg-window .up .weixin { cursor: pointer; height: 50px; width: 160px; line-height: 50px;  float: left; background-color: #38ad5a; margin: 20px 0px 0px 80px;}
#lg-window .up .weixin img { margin-left: 40px; margin-top: 15px;  }
#lg-window .up .weixin .weixin-text { margin-right: 46px; color: #ffffff; font-size: 18px;text-align: center; }
#lg-window .mid { height: 170px; }
#lg-window .mid input { width: 430px; height: 40px; background-color: #e6eaed; margin: 0 auto; border: 0; font-size: 16px; }
#lg-window .mid .avatar-img { width: 32px; height: 40px; background-color: #e6eaed; }
#lg-window .mid .avatar-img img { margin: 10px 0px 0px 10px; }
#lg-window .mid .password-img { width: 32px; height: 40px; background-color: #e6eaed; }
#lg-window .mid .password-img img { margin: 10px 0px 0px 10px; }
#lg-window .mid .id { margin-left: 44px; }
#lg-window .mid .password { margin-left: 44px; }
#lg-window .mid .forget-password { color: #898989; margin: 30px 0px 0px 42px; cursor: pointer;}
#lg-window .mid .login-btn { cursor: pointer; color: #ffffff; background-color: #ee6350; width: 135px; height: 40px; font-size: 16px; line-height: 40px; text-align: center;margin: 30px 0px 0px 266px}
#lg-window .bottom { height: 56px; line-height: 56px; }
#lg-window .bottom .no-id { color: #898989; margin-left: 42px; } 
#lg-window .bottom .sign-in { color: #898989; margin-left: 22px; } 

#top .nav { height: 80px; position: relative; }
#top .nav .logo { height: 80px; width: 80px; margin-right: 34px; float: left; }
#top .nav .menu { height: 80px; width: 290px; float: left; border-right: 2px solid #e8e8e8;}
#top .nav .menu li { cursor: pointer; font-size: 17px; }
#top .nav .menu .nav-item { margin-left: 12px;}
#top .nav .search { margin: 0; display: block; height: 80px; width: 550px; float: left;}
#top .nav .search .search-btn { height: 80px; width: 76px; float: left;}
#top .nav .search .search-btn img { margin: 30px 24px;}
#top .nav .search .field { float: left; margin-top: 28px;}
#top .nav .search .field input{ border: 0px; font-size: 16px; padding-left: 0px;}
#top .nav .menu ul li { list-style: none; float: left; width: 70px; height: 80px;}
#top .nav .menu li { margin: 0 auto;}
#top .nav .menu .nav-item { height: 30px ; width: 46px; line-height: 30px; text-align: center; font-weight: bold; font-size: 16px; margin-top: 28px; color: #5d5d5e;}
#top .nav .menu .nav-item-list:hover .nav-item { color: #ee6350;}
#top .nav .menu img { margin-top: 42px;}
#top .nav .login { width: 160px; height: 80px; float: right;}
#top .nav .login .btn { text-align: center; line-height: 41px; width: 100px; height: 41px; margin-top: 24px; margin-bottom: 4px; background: #EE6350; font-size: 17px; color: white;}
#top .nav .login .btn:hover { }
#top .nav .user { width: 200px; height: 80px; display: none; }
#top .nav .user .info { height: 40px;width: 150px;line-height: 40px; }
#top .item { position: absolute; display: none; width: 200px; height: 180px;left: 1120px; top: 80px;z-index: 999;}
#top .item li { width: 200px; height: 36px; line-height: 25px; text-align: center;}
#top .carousel { height: 320px; width: 100%;display: none;}
#top .carousel .carousel-inner { position: relative;}
#top .carousel.active { display: block;}
#top .carousel .previous { margin-left: 114px; margin-top: 140px;cursor: pointer;}
#top .carousel .next { margin-right: 114px; margin-top: 140px;cursor: pointer;}
#top .carousel .content-product { display: none;}
#top .carousel .content-product.on { display: block;}
#top .carousel .content-special { display: none;}
#top .carousel .content-special.on { display: block;}
#top .carousel .content-special { position: absolute;left: 139px; top: -28px; }
#top .carousel .content-special li { width: 220px; height: 100px;cursor: pointer; float: left; margin-top: 46px;}
#top .carousel .content-special .special-list { width: 220px; height: 100px;}
#top .carousel .content-special .special-list .imgbcolor:hover { background-color: #494a4a;}
#top .carousel .content-special img { margin: 28px 0px 0px 25px;}
#top .carousel .content-special .website { width: 100px; height: 100px; background-color: #90bb32;}
#top .carousel .content-special .app { width: 100px; height: 100px; background-color: #00bbe9;}
#top .carousel .content-special .hardware { width: 100px; height: 100px; background-color: #a44791;}
#top .carousel .content-special .brand { width: 100px; height: 100px; background-color: #ff0600;}
#top .carousel .content-special .idea { width: 100px; height: 100px; background-color: #f7be00;}
#top .carousel .content-special .viewpoint { width: 100px; height: 100px; background-color: #ee4589;}
#top .carousel .content-product li { width: 220px; height: 123px;cursor: pointer; float: left; margin-top: 20px;}
#top .carousel .content-product .product-list { width: 220px; height: 100px;background-color: #e4e4e5; }
#top .carousel .content-product .product-text { margin-top: 8px;letter-spacing: 1px; color: #686868;}
#top .carousel .content-product p { line-height: 23px; font-size: 13px;letter-spacing: 1px;}
body { background: #fff; }
* { -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding:0px; margin:0px;font-size:12px; font-family:  Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif; outline: none; }
#content .content-up{height:320px;}
#content .content-up .img{ background-color: #D3D3D3; height: 280px;}
#content .content-up .nav{ background-color: #EE6350; height: 40px;}
#content .content-up .nav li { cursor: pointer; float: left; width: 80px; height: 40px; line-height: 40px; text-align: center; font-size: 20px; letter-spacing: 1px;}
#content .content-up .nav li .line { width: 80px; height: 4px; background-color: #babdba; position: absolute;}
#content .content-up .nav li.active { background-color: #ffffff; color: #636262;}
#content .content-down { margin: 0 auto; overflow: hidden;}
#content .content-down .left { padding-top: 25px; float: left;z-index: 999;}
#content .content-down .col-11 .post { height:230px;width:880px;position: relative;}
#content .content-down .col-11 .post .img-holder { position: relative; height: 230px; width: 352px;padding:25px 32px 25px 60px;float: left;}
#content .content-down .col-11 .post .icon-type { position: absolute;top:35px;left:56px;}
#content .content-down .col-11 .post .icon-type .tag3-text{ position: absolute; text-align: center; line-height: 20px;color:#ffffff; top: 1px; left: 9px;}
#content .content-down .col-11 .post .text { position: relative; height: 180px; width: 476px;float: left;margin-top: 25px;}
#content .content-down .col-11 .post .text .title { color:  #38485a ;}
#content .content-down .col-11 .post .text .keyword { height: 16px; margin: 12px 0px 12px 180px; display: none;}
#content .content-down .col-11 .post .text .keyword-1:hover { cursor: pointer; color: #000000; }
#content .content-down .col-11 .post .text .keyword-2:hover { cursor: pointer; color: #000000; }
#content .content-down .col-11 .post .text .keyword-3:hover { cursor: pointer; color: #000000; }
#content .content-down .col-11 .post .text .post-label { color: #989898; margin: 12px 0px 12px 0px;}
#content .content-down .col-11 .post .text .post-label .author:hover { cursor: pointer;}
#content .content-down .col-11 .post .text .content { color: #686969; position: absolute; top: 96px;}
#content .content-down .col-11 .post .text .content a {color: #231815;}
#content .content-down .col-11 .post .text .content a:hover { color: #ee6350;}
#content .content-down .col-11 .post .tag-label { position: absolute; top: -10px; right: -25px; width: 120px; height: 30px;}
#content .content-down .col-11 .post .tag-label .tag-label-like { display: none; width: 86px; height: 35px; left: -3px; position: absolute; background-size: 86px 32px; background-repeat: no-repeat;}
#content .content-down .col-11 .post .tag-label .tag-label-like-recall {display: none;position: absolute; width: 86px; height: 35px;left: 16px;}
#content .content-down .col-11 .post .tag-label .tag-label-like .words-save { position: absolute; line-height: 27px; text-align: center; font-size: 12px; color:#f1f1f1; z-index: 999; top: 0px; left: 7px;}
#content .content-down .col-11 .post .tag-label .tag-label-like-recall .words-like-recall { position: absolute; line-height: 27px; text-align: center; font-size: 12px; color: #f1f1f1; z-index: 999; top: 0px; left: 10px;}
#content .content-down .col-11 .post .tag-label .tag-label-more { display: none; width: 86px; height: 35px; left:22px; position: absolute; background-size: 86px 32px; background-repeat: no-repeat;}
#content .content-down .col-11 .post .tag-label .tag-label-more-recall { display: none; position: absolute; width: 86px; height: 35px;left: 41px;}
#content .content-down .col-11 .post .tag-label .tag-label-more-recall .words-more-recall { position: absolute; line-height: 27px; text-align: center; font-size: 12px; color: #f1f1f1; z-index: 999; top: 0px; left: 10px;}
#content .content-down .col-11 .post .tag-label .tag-label-more .words-more { position: absolute; line-height: 27px; text-align: center; font-size: 12px; color:#f1f1f1; z-index: 999; top: 0px; left: 6px;}
#content .content-down .col-11 .post .tag-label .tag-label-del { display: none; width: 86px; height: 35px; left:46px; position: absolute; background-size: 86px 32px; background-repeat: no-repeat; z-index: 888;}
#content .content-down .col-11 .post .tag-label .tag-label-del .words-del { position: absolute;line-height: 27px; text-align: center; font-size: 12px; color:#f1f1f1; z-index: 999; top: 0px; left: 6px;}
#content .content-down .col-11 .post .tag-label .tag-label-del-recall { display: none; position: absolute; width: 86px; height: 35px;left: 68px;}
#content .content-down .col-11 .post .tag-label .tag-label-del-recall .words-del-recall { position: absolute; line-height: 27px; text-align: center; font-size: 12px; color: #f1f1f1; z-index: 999; top: 0px; left: 10px;}
#content .content-down .col-11 .post .tag-list { display: none; position: absolute; top: 25px; right: -8px; width: 80px; height: 25px;}
#content .content-down .col-11 .post .tag-list .tag-like { width: 25px; height: 25px;float: left; background-color: #a9acb5; cursor: pointer;}
#content .content-down .col-11 .post .tag-list .tag-like img {  background-position: center; background-repeat: no-repeat; margin: 5px 0px 0px 5px; }
#content .content-down .col-11 .post .tag-list .tag-like:hover { background-color: #e23a3c; }
#content .content-down .col-11 .post .tag-list .tag-like.on { background-color: #e23a3c; }
#content .content-down .col-11 .post .tag-list .tag-add:hover { background-color: #129592;}
#content .content-down .col-11 .post .tag-list .tag-add.on { background-color: #129592;}
#content .content-down .col-11 .post .tag-list .tag-add { width: 25px; height: 25px;float: left;background-color: #a9acb5;cursor: pointer;}
#content .content-down .col-11 .post .tag-list .tag-add img {  background-position: center; background-repeat: no-repeat; margin: 5px 0px 0px 5px; }
#content .content-down .col-11 .post .tag-list .tag-del { display: block; width: 25px;height: 30px;float: left; background-repeat: no-repeat; cursor: pointer;}
#content .content-down .col-11 .post .tag-list .tag-del-dark { position: absolute; left: 53px;display: none;}
#content .content-down .col-11 .post .tag-del-cont:hover .tag-del-dark { display: block;}
#content .content-down .col-11 .post .tag-del-cont:hover .tag-del { display: none;}
#content .content-down .col-11 .post .tag-del-cont.active .tag-del-dark { display: block;}
#content .content-down .col-11 .post .tag-del-cont.active .tag-del { display: none;}

#content .content-down .col-11 .login { height: 90px; width: 880px; display: none;}
#content .content-down .col-11 .login .login_btn { height: 48px;}
#content .content-down .col-11 .login .text { line-height: 20px;}
#content .content-down .col-11 .login .text_or { height: 36px; line-height: 33px; text-align: center;  }
#content .content-down .col-11 .login .text_or p {color: #f1f1f1; }
#content .content-down .col-11 .login .lgbtn p { line-height: 33px; text-align: center;color: #f1f1f1;}
#content .content-down .del-info { height: 60px; width: 880px; background-color: #4d67ae;}
#content .content-down .del-info .left_text { float: left; width: 300px; height: 30px; line-height: 30px; text-align: center; font-size: 15px;margin: 14px 0px 0px 14px; color: #bac8e5;}
#content .content-down .del-info .mid_text { float: right;width: 122px; height: 30px; line-height: 30px; text-align: center; font-size: 15px; margin-top: 14px; color: #bac8e5; }
#content .content-down .del-info .right_text { float: right; width: 36px; height: 30px;line-height: 30px; text-align: center; font-size: 15px;margin: 14px 36px 0px 0px; color: #bac8e5; cursor: pointer;}
#content .content-down .del-info .right_text.on { color: #ffffff;}
#content .content-down .right {height: auto;float: left;z-index: 0;}
#content .content-down .col-4 .hot-list { height: auto; width: 300px;margin: 25px 0px 0px 0px;overflow: hidden;}
#content .content-down .col-4 .hot-list .hot { position:relative;height: 180px;width: 86.66666667%;margin:25px 20px 0px 20px;font-size: 10px;float: left;}
#content .content-down .col-4 .hot-list .hot img { width: 100%;height: 174px;}
#content .content-down .col-4 .hot-list .hot .hot-text { color: #686868; letter-spacing: 1px;}
#content .content-down .col-4 .hot-list .header { position: relative; margin: 45px 20px 0px 20px;width: 70px; height: 25px;background: #ee6350;line-height: 25px; text-align: center;float: left;}
#content .content-down .col-4 .hot-list .header p { color: #ffffff;}
#content .content-down .col-4 .hot-list .article {width: 260px; height: 219px;margin:0px 20px 0px 20px;float: left;}
#content .content-down .col-4 .hot-list .article .customer {width: 260px; height: 40px; line-height: 40px;font-weight: bold;}
#content .content-down .col-4 .hot-list .article .customer .time { color: #686868;}
#content .content-down .col-4 .hot-list .article .customer .dot { color: #686868;}
#content .content-down .col-4 .hot-list .article .cont { height:145px; width: 260px;background-color: #ebebeb;text-align: left; }
#content .content-down .col-4 .hot-list .article .cont .text { color: #686868;letter-spacing: 1px;padding: 10px; }
#content .content-down .col-4 .hot-list .article .from { height: 34px; width: 260px;line-height: 34px;}
#content .content-down .col-4 .hot-list .article .from .from-text { color: #9fa0a0;}
#content .content-down .col-4 .hot-list .small-article { height: 80px; width: 242px;border-bottom: 2px solid #e5e5e5;}
#content .content-down .col-4 .hot-list .small-article .load-img { position: relative;margin: auto;}
#content .content-down .col-4 .hot-list .small-article img { height: 60px; width: 60px;}
#content .content-down .col-4 .hot-list .small-article .text { cursor: pointer; font-size: 16px; line-height: 25px; margin:5px 0px 0px 12px; color: #686868; }
#content .content-down .col-4 .hot-list .small-article .text:hover { color: #ee6350;}
#content .content-down .col-4 .hot-list .qrcode { height: 271px; width: 260px;float: left;margin: 10px 20px 0px 20px;}
#content .content-down .col-4 .hot-list .qrcode .text { width: 150px; height: 82px;text-align: left;margin: auto;color: #9fa0a0;line-height: 25px;}
#content .content-down .col-4 .hot-list .qrcode img { float: left;margin: 0px 55px 0px 55px;border: 0;background: #cccccc;}
#content .content-down .offset .left .main { width: 800px;}
#content .content-down .offset .left .main .article p { font-size: 18px; letter-spacing: 1px; padding: 10px 20px 0px 20px;line-height: 33px;text-indent: 2em;text-align: left; color: #3f484f;}
#content .content-down .offset .left .main .article p * { font-size: 18px; }
#content .content-down .offset .left .main .icon { width: 800px; height: 60px;position: relative;}
#content .content-down .offset .left .main .icon li { height: 40px; cursor: pointer; line-height: 40px; text-align: center; overflow: hidden; list-style-type: none; };
#content .content-down .offset .left .main .icon .icon-list { overflow: hidden;}
#content .content-down .offset .left .main .icon .icon-list .off { position: absolute;display: block;}
#content .content-down .offset .left .main .icon .icon-list .on { position: absolute;top:0px;display: none;}
#content .content-down .offset .left .main .icon .icon-list:hover .on { display: block;}
#content .content-down .offset .left .main .icon .icon-list:hover .off { display: none;}
#content .content-down .offset .left .main .icon .icon-list.active .on { display: block;}
#content .content-down .offset .left .main .icon .icon-list.active .off { display: none;}
#content .content-down .offset .left .main .icon .icon-like { width: 30px; height: 30px;}
#content .content-down .offset .left .main .icon .icon-like-num { color: #686868;line-height: 27px;}
#content .content-down .offset .left .main .icon .icon-like p { line-height: 36px;text-align: center;}
#content .content-down .offset .left .main .icon .icon-dislike { width: 30px; height: 30px;}
#content .content-down .offset .left .main .icon .icon-dislike-num { color: #686868;line-height: 27px;}
#content .content-down .offset .left .main .icon .icon-dislike p { line-height: 36px;text-align: center;}
#content .content-down .offset .left .main .icon .icon-share { width: 30px; height: 30px;}
#content .content-down .offset .left .main .icon .icon-share-num { color: #686868;line-height: 27px;}
#content .content-down .offset .left .main .icon .icon-share p { line-height: 36px;text-align: center;}
#content .content-down .offset .left .main .icon .icon-collected { width: 30px; height: 30px;}
#content .content-down .offset .left .main .icon .icon-collected-num { color: #686868;line-height: 27px;}
#content .content-down .offset .left .main .icon .icon-collected p { line-height: 36px;text-align: center;}

#content .content-down .offset .left .main .link { width: 800px; height: 60px;line-height: 60px;}
#content .content-down .offset .left .main .link .linkedin:hover { color: #ee6350; cursor: pointer;}
#content .content-down .offset .left .main .link .lingying:hover { color: #ee6350; cursor: pointer;}
#content .content-down .offset .left .main .designer { width: 800px; height: 90px;}
#content .content-down .offset .left .main .designer .description { height: 50px;}
#content .content-down .offset .left .main .designer .description p { font-weight: bold;}
#content .content-down .offset .left .main .designer .description .wrap-designer { width: 60px; height: 23px; line-height: 23px; border-radius: 5px;}
#content .content-down .offset .left .main .comment-board { width: 800px; height: 180px;}
#content .content-down .offset .left .main .comment-board .submit-btn { height: 28px; width: 100px;background-color: #ee6350; line-height: 28px; text-align: center; color: #ffffff; margin: 12px 42px 0px 0px; }
#content .content-down .offset .left .main .comment { width: 800px; height: 300px;}
#content .content-down .offset .left .main .comment .block { width: 660px; height: 100px;margin: auto;}
#content .content-down .offset .left .main .comment .block .text { width: 600px;height: 50px;}
#content .content-down .offset .left .main .comment .block .text p {padding: 0;}
#content .load { width:880px; height: 40px; float: left; line-height: 40px; background-color: #f4f4f4;}
#content .load p { margin-left: 60px; color: #9fa0a0;}
#content .load a { margin-right: 10px; color: #9fa0a0;}

#info .column .info { height: 230px;position: relative;}
#info .column .info { background: url("/img/icon/restaurant.png") repeat fixed; }
#info .column .info .menu { width: 590px; height: 50px;position: absolute;margin-top: 180px;}
#info .column .info .menu .color-line { width: 120px; height: 4px;position: absolute;}
#info .column .info .menu li { float: left;width: 120px; height: 50px; line-height: 50px;text-align: center;}
#info .column .info .menu li .list.active { background-color: #f3f6f9; }
#info .column .fill { width: 100%; height: 15px; background-color: #f3f6f9;}
#info .column .setting { width: 86.66666667%; height: 1800px; overflow: hidden;}
#info .column .setting .collection { width: 96.153846153846% ; height: 38px;}
#info .column .setting .collection li { font-size: 18px;color: #f1f1f1; line-height: 38px;}
#info .column .setting .collection-cont { width: 96.153846153846% ; height: 60px; line-height: 60px; border-bottom: 2px solid #e8e8e8 ;}
#info .column .setting .collection-cont p { font-size: 18px;text-align: center;}
#info .column .setting .collection-cont .comment-num { width: 54px;}
#info .column .setting .pagination { width: 100%; height: 100px;}
#info .column .setting .pagination .previous { line-height: 36px; text-align: center; font-size: 16px; letter-spacing: 1px; margin: 50px 20px 0px 0px;}
#info .column .setting .pagination .next { line-height: 36px; text-align: center; font-size: 16px; letter-spacing: 1px; margin: 50px 50px 0px 0px;}
#info .column .setting .layout { width: 100%;height: 66px;padding: 10px 0px 10px 0px;position: relative;}
#info .column .setting .layout label { width: 180px; float: left;}
#info .column .setting .layout span { float: right; margin-right: 20px;color:#737d89; font-size: 15px;line-height: 46px;}
#info .column .setting .layout input { width: 380px; height: 46px; font-size: 14px; border: 1px solid #d9d9da;border-radius: 4px;}
#info .column .setting .avatar { width: 100%; height: 166px;}
#info .column .setting .avatar img { width: 166px; height: 166px;}
#info .column .setting .avatar .circle { width: 106px; height: 106px;}
#info .column .setting .avatar .img p { text-align: center;position: absolute; top:135px; left:202px;}
#info .column .setting .tel .getcode { margin: 4px 0px 0px 20px; width: 220px; height: 36px; border: 1px solid #27b5c6; float: left; background-color: #27b5c6; border-radius: 4px; line-height: 36px; text-align: center;}
#info .column .setting .sex input { width: 20px; height: 20px;margin-top: 15px;}
#info .column .setting .sex p { line-height: 46px; color:#737d89}
#info .column .setting .area { position: relative;}
#info .column .setting select { width: 115px; height: 46px; border: 1px solid #d9d9da; border-radius: 4px; background-color: #ffffff; font-size: 14px;color: #737d89;}
#info .column .setting option { width: 100%; height: 20px; color:#737d89;}
#info .column .setting .weibo .http { font-size: 14px;color:#737d89; text-align: center; width: 64px; height: 46px; border: 1px solid #d9d9da;  border-radius: 4px 0px 0px 4px;line-height: 46px;}
#info .column .setting .weibo input { width: 317px; border-radius: 0px 4px 4px 0px; color:#737d89;}
#info .column .setting .introduce { position: relative;}
#info .column .setting .introduce textarea { width: 380px; height: 150px; background-color: #ffffff; border: 1px solid #d9d9da; border-radius: 4px; font-size: 14px; color:#737d89; padding: 10px;}
#info .column .setting .add { padding-left: 180px;}
#info .column .setting .submit { padding-left: 180px;}
#info .column .setting .submit input { width: 80px; height: 46px;background-color: #ee6350; border-radius: 4px;color: white;font-size: 14px; cursor: pointer;}
.column { margin: 0 auto; width: 1200px; display: block; clear: both; }
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 {
    float: left;
  }
.col-1 { width: 6.66666667%; position: relative;}
.col-2 { width: 13.3333333%; position: relative;}
.col-3 { width: 20%; position: relative;}
.col-4 { width: 26.6666667%; position: relative;}
.col-5 { width: 33.3333333%; position: relative;}
.col-6 { width: 40%; position: relative;}
.col-7 { width: 46.6666667%; position: relative;}
.col-8 { width: 53.3333333%; position: relative;}
.col-9 { width: 60%; position: relative;}
.col-10 { width: 66.66666667%; position: relative;}
.col-11 { width: 73.33333333%; position: relative;}
.col-12 { width: 80%; position: relative;}
.col-13 { width: 86.66666667%; position: relative;}
.col-14 { width: 93.33333333%; position: relative;}
.col-15 { width: 100%; position: relative;}

.conetent-box { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

.footer { height: 360px;}
.footer .header { font-size: 18px;}
.footer .link { font-size: 16px;}
.footer .text { font-size: 14px;}
.footer .cont { height:320px;background:#262626;}
.footer .cont .left { height:320px;width:366px;padding-left: 60px;float: left;}
.footer .cont .left .left-up { height:180px;width:324px;margin-top: 32px;}
.footer .cont .left .left-up .about-content { margin-top: 20px; line-height: 22px; width: 324px;}
.footer .cont .left .left-down { height:120px;width:324px;}
.footer .cont .left .left-down .about-content { margin-top: 20px; line-height: 22px; width: 324px;}
.footer .cont .mid { margin: 32px 0px 0px 100px; height: 180px; width: 324px; float: left;}
.footer .cont .mid .about-content { margin-top: 20px; line-height: 22px ; width: 324px;}
.footer .cont .right {  margin: 32px 0px 0px 100px; height: 180px; width: 306px; float:left;}
.footer .cont .right .about-content { margin-top: 20px; line-height: 22px ; width: 324px;}
.footer .bottom { height: 40px; background: #0c0c0c;}
.footer .bottom .text { margin-left: 64px; line-height: 40px;}

#article .column .left img { width: 780px; height: 179px;}

img { border: 0px; }
li { list-style: none; }

.icon-book { display: inline-block; width: 19px; height: 19px; background: url(/img/icon/book.png); }
.icon-call { display: inline-block; width: 64px; height: 64px; background: url(/img/icon/call.png); }

.section-title { height: 28px; padding-left: 14px; border-left: 6px solid #7eb702; font-size: 20px; font-weight: bold; line-height: 28px; float: left; }
.split-big-deep-line { height: 5px; background: #777777; width: 100%; }
.split-big-line { height: 5px; background: #d4d4d4; width: 100%; }
.split-line { height: 1px; background: #d4d4d4; width: 100%; }
.split-light-line { height: 1px; background: #e6eaed; width: 100%; }
a { text-decoration: none; }

a.btn-see-all { display: inline-block; width: 160px; height: 38px; background: url(/img/seeall.png) no-repeat; }
a.btn-see-all:hover { background: url(/img/seeall-on.png) no-repeat; }

.btn { border: 0px; text-align: center; text-decoration: none; float: left; min-width: 60px; cursor: pointer; height: 34px; line-height: 31px; border-radius: 0px; padding: 0px; color: #fff; }

input { background: #fff; display: inline-block; float: left; border: 1px solid #d9d9d9; width: 178px; height: 34px; padding: 5px 5px; outline: none; }

.blue { color: #019df0; }
.red { color: #f14f26; }

textarea {
	overflow: hidden;
	border: 0px;
	background-color: #e5e8eb;
	resize:none;
	padding: 14px 10px 10px 6px;
	height: 90px;
}


