.wrapper { width: 100%; position: relative; }
.wrapper.grey { background: #f8f8f8; }

body { background: #fff; }
* { -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding: 0px; margin: 0px; font-size: 12px; font-family: 'Microsoft Yahei'; outline: none; }

.column { margin: 0 auto; width: 1200px; display: block; clear: both; }
.col-1 { width: 0.06666667%; position: relative; padding: 0px 10px; }
.col-2 { width: 0.13333333%; position: relative; padding: 0px 10px; }

.conetent-box { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

img { border: 0px; }
li { list-style: none; }

.icon-book { display: inline-block; width: 19px; height: 19px; background: url(/img/icon/book.png); }
.icon-call { display: inline-block; width: 64px; height: 64px; background: url(/img/icon/call.png); }

.section-title { height: 28px; padding-left: 14px; border-left: 6px solid #7eb702; font-size: 20px; font-weight: bold; line-height: 28px; float: left; }
.split-big-deep-line { height: 5px; background: #777777; width: 100%; }
.split-big-line { height: 5px; background: #d4d4d4; width: 100%; }
.split-line { height: 1px; background: #d4d4d4; width: 100%; }
.split-light-line { height: 1px; background: #e6eaed; width: 100%; }
a { color: #7eb702; text-decoration: none; }

a.btn-see-all { display: inline-block; width: 160px; height: 38px; background: url(/img/seeall.png) no-repeat; }
a.btn-see-all:hover { background: url(/img/seeall-on.png) no-repeat; }

.btn { border: 0px; text-align: center; text-decoration: none; float: left; min-width: 60px; cursor: pointer; height: 34px; line-height: 31px;  background: #7eb702; border-radius: 0px; padding: 0px; color: #fff; }

input { background: #fff; display: inline-block; float: left; border: 1px solid #d9d9d9; width: 178px; height: 34px; padding: 5px 5px; outline: none; }

.blue { color: #019df0; }
.red { color: #f14f26; }



