.wrapper { width: 100%; position: relative; }
.wrapper.grey { background: #f8f8f8; }
.offset { margin: 80px 0px 0px 80px; overflow: hidden;}
#top .nav { height: 80px; position: relative; }
#top .nav .logo { height: 80px; width: 80px; margin-right: 34px; float: left; }
#top .nav .menu { height: 80px; width: 290px; float: left;}
#top .nav .search { margin: 0; display: block; height: 80px; width: 550px; float: left;}
#top .nav .search .search-btn { height: 80px; width: 80px; float: left;}
#top .nav .search .search-btn img { margin: 30px 35px;}
#top .nav .search .field { float: left; margin-top: 28px;}
#top .nav .search .field input{ border: 0px; font-size: 17px;}
#top .nav .menu ul li { list-style: none; float: left; width: 70px; height: 80px; line-height: 80px; text-align: center; font-weight: bold; }
#top .nav .menu li { margin: 0 auto;display: inline;}
#top .nav .login { width: 160px; height: 80px; float: left;}
#top .nav .login .btn { text-align: center; line-height: 41px; width: 100px; height: 41px; margin-top: 24px; margin-bottom: 4px; background: #EE6350; font-size: 17px; color: white;}
#top .nav .login .btn:hover { }
#top .nav .user { width: 200px; height: 80px; }
#top .nav .user .info { height: 40px;width: 150px;line-height: 40px; }
#top .nav .item { width: 200px; height: 180px;display: none;}
#top .nav .item li { width: 200px; height: 36px; line-height: 25px; text-align: center;}
#top .nav { height: 320px; position: relative;}
#top .carousel .carousel.inner{ padding: 20px 114px 33px 114px;}
body { background: #fff; }
* { -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding:0px; margin:0px;font-size:12px; font-family: 'Microsoft Yahei'; outline: none; }
#content .content-up{height:320px;}
#content .content-up .img{ background-color: #D3D3D3; height: 280px;}
#content .content-up .nav{ background-color: #EE6350; height: 40px;}
#content .content-up .nav .btn{ position: relative; width: 80px; height: 40px; line-height: 40px; text-align: center; margin-left: 60px; float: left;}
#content .content-up .nav .btn .btn-top{ position: absolute; top: 0px; width: 80px; height: 4px; background: #babdba;}
#content .content-up .nav .btn .btn-down{ width: 80px; height: 40px;background: #ffffff;}
#content .content-up .nav .btn .btn-down p{ font-size: 20px;}
#content .content-up .nav .smart{ width: 80px; height: 40px; line-height: 40px; margin-left: 0px; background: #ee6350; float: left;}
#content .content-up .nav .smart p{ font-size: 20px; color: #ffffff; text-align: center;}
#content .content-up .nav .list { margin-left: 420px; height: 40px; width: 560px; float: left;}
#content .content-up .nav .list .list-ul li{ margin-left: 10px; float: left; width:80px; height: 40px; line-height: 40px;}
#content .content-up .nav .list .list-ul p{ font-size: 20px;color:#ffffff;text-align: center;}
#content .content-down { margin: 0 auto; overflow: hidden;}
#content .content-down .left { padding-top: 25px; float: left;}
#content .content-down .col-11 .post { height:230px;width:880px;position: relative;}
#content .content-down .col-11 .post .img-holder { position: relative; height: 230px; width: 352px;padding:25px 32px 25px 60px;float: left;}
#content .content-down .col-11 .post .icon-type { position: absolute;top:35px;left:56px;}
#content .content-down .col-11 .post .icon-type p{ text-align: center; line-height: 20px;color:#ffffff;}
#content .content-down .col-11 .post .text { position: relative; height: 180px; width: 455px;float: left;margin-top: 25px;}
#content .content-down .col-11 .post .text span { margin-left: 15px;display: none;}
#content .content-down .col-11 .post .btn { position: absolute;height: 60px; width: 80px; right: 0px; top: -10px; display: none;}
#content .content-down .col-11 .post .btn img { width: 80px;height: 30px;}
#content .content-down .col-11 .post .btn .hint { height: 30px;}
#content .content-down .col-11 .post .btn .icon-menu { height: 30px;width: 81px;}
#content .content-down .col-11 .post .btn .icon-menu .icon { width: 27px; height: 30px;}
#content .content-down .col-11 .post .btn .icon-menu img { width: 100%; height: 30px;}
#content .content-down .right {height: auto;float: left;}
#content .content-down .col-4 .hot-list { height: auto; width: auto;margin: 25px 0px 0px 20px;overflow: hidden;}
#content .content-down .col-4 .hot-list .hot { position:relative;height: 180px;width: 86.66666667%;margin:25px 20px 0px 20px;font-size: 10px;float: left;}
#content .content-down .col-4 .hot-list .hot img { width: 100%;height: 174px;}
#content .content-down .col-4 .hot-list .hot p { color:;}
#content .content-down .col-4 .hot-list .header { position: relative; margin: 45px 20px 0px 20px;width: 70px; height: 25px;background: #ee6350;line-height: 25px; text-align: center;float: left;}
#content .content-down .col-4 .hot-list .header p { color: #ffffff;}
#content .content-down .col-4 .hot-list .article {width: 260px; height: 219px;margin:0px 20px 0px 20px;float: left;}
#content .content-down .col-4 .hot-list .article .customer {width: 260px; height: 40px; line-height: 40px;font-weight: bold;}
#content .content-down .col-4 .hot-list .article .cont { height:145px; width: 260px;background: #ebebeb;text-align: left;}
#content .content-down .col-4 .hot-list .article .cont p { padding:8px;}
#content .content-down .col-4 .hot-list .article .from { height: 34px; width: 260px;line-height: 34px;}
#content .content-down .col-4 .hot-list .small-article { height: 80px; width: 242px;border-bottom: 2px solid #e5e5e5;}
#content .content-down .col-4 .hot-list .small-article .load-img { position: relative;margin: auto;}
#content .content-down .col-4 .hot-list .small-article img { height: 60px; width: 60px;}
#content .content-down .col-4 .hot-list .qrcode { height: 285px; width: 260px;float: left;margin: 10px 20px 0px 20px;}
#content .content-down .col-4 .hot-list .qrcode p { width: 150px; height: 60px;text-align: left;margin: auto;color: #9fa0a0;}
#content .content-down .col-4 .hot-list .qrcode img { height: 150px;width: 150px;float: left;margin: 0px 55px 0px 55px;border: 0;background: #cccccc;}
#content .content-down .offset .left .main { width: 800px;}
#content .content-down .offset .left .main .text p { padding: 10px 20px 0px 20px;line-height: 20px;text-indent: 1cm;text-align: left;}
#content .content-down .offset .left .main .icon { width: 800px; height: 60px;}
#content .content-down .offset .left .main .icon span { color: #686868;line-height: 27px;}
#content .content-down .offset .left .main .icon p { line-height: 36px;text-align: center;}
#content .content-down .offset .left .main .link { width: 800px; height: 60px;line-height: 60px;}
#content .content-down .offset .left .main .designer { width: 800px; height: 90px;}
#content .content-down .offset .left .main .designer .description { height: 40px;}
#content .content-down .offset .left .main .designer .description p { font-weight: bold;}
#content .content-down .offset .left .main .designer .description .wrap-designer { width: 60px; height: 23px; line-height: 23px; border-radius: 50px;}
#content .content-down .offset .left .main .comment-board { width: 800px; height: 180px;}
#content .content-down .offset .left .main .comment-board .btn { height: 28px; width: 100px;background-color: #ee6350;}
#content .content-down .offset .left .main .comment { width: 800px; height: 300px;}
#content .content-down .offset .left .main .comment .block { width: 660px; height: 100px;margin: auto;}
#content .content-down .offset .left .main .comment .block .text { width: 600px;height: 50px;}
#content .content-down .offset .left .main .comment .block .text p {padding: 0;}
#content .load { width:880px; height: 40px; float: left; line-height: 40px;}
#content .load p { margin-left: 60px;}
#content .load a { margin-right: 10px;}

#info .column .info { height: 230px;position: relative;}
#info .column .info { background: url("/img/icon/restaurant.png") repeat fixed; }
#info .column .info .menu { width: 590px; height: 50px;position: absolute;margin-top: 180px;}
#info .column .info .menu .color-line { width: 120px; height: 4px;position: absolute;}
#info .column .info .menu li { float: left;width: 120px; height: 50px; line-height: 50px;text-align: center;}
#info .column .fill { width: 100%; height: 15px; background-color: #f3f6f9;}
#info .column .setting { width: 86.66666667%; height: 1800px; overflow: hidden;}
#info .column .setting .collection { width: 96.153846153846% ; height: 38px;}
#info .column .setting .collection li { font-size: 18px;color: #f1f1f1; line-height: 38px;}
#info .column .setting .collection-cont { width: 96.153846153846% ; height: 60px; line-height: 60px; border-bottom: 2px solid #e8e8e8 ;}
#info .column .setting .collection-cont p { font-size: 18px;text-align: center;}
#info .column .setting .collection-cont .comment-num { width: 54px;}
#info .column .setting .layout { width: 100%;height: 66px;padding: 10px 0px 10px 0px;position: relative;}
#info .column .setting .layout label { width: 180px; float: left;}
#info .column .setting .layout span { float: right; margin-right: 20px;color:#737d89; font-size: 15px;line-height: 46px;}
#info .column .setting .layout input { width: 380px; height: 46px; font-size: 14px; border: 1px solid #d9d9da;border-radius: 4px;}
#info .column .setting .avatar { width: 100%; height: 166px;}
#info .column .setting .avatar img { width: 166px; height: 166px;}
#info .column .setting .avatar .circle { width: 106px; height: 106px;}
#info .column .setting .avatar .img p { text-align: center;position: absolute; top:135px; left:202px;}
#info .column .setting .tel .getcode { margin: 4px 0px 0px 20px; width: 220px; height: 36px; border: 1px solid #27b5c6; float: left; background-color: #27b5c6; border-radius: 4px; line-height: 36px; text-align: center;}
#info .column .setting .sex input { width: 20px; height: 20px;margin-top: 15px;}
#info .column .setting .sex p { line-height: 46px; color:#737d89}
#info .column .setting .area { position: relative;}
#info .column .setting select { width: 115px; height: 46px; border: 1px solid #d9d9da; border-radius: 4px; background-color: #ffffff; font-size: 14px;color: #737d89;}
#info .column .setting option { width: 100%; height: 20px; color:#737d89;}
#info .column .setting .weibo .http { width: 60px; height: 46px; border: 1px solid #d9d9da;  border-radius: 4px;line-height: 46px;}
#info .column .setting .weibo input { width: 321px;}
#info .column .setting .weibo .http p {font-size: 14px;color:#737d89; }
#info .column .setting .introduce { position: relative;}
#info .column .setting .introduce textarea { width: 380px; height: 150px; background-color: #ffffff; border: 1px solid #d9d9da; border-radius: 4px; font-size: 14px; color:#737d89; padding: 10px;}
#info .column .setting .add { padding-left: 185px;}
#info .column .setting .submit { padding-left: 180px;}
#info .column .setting .submit input { width: 80px; height: 46px;background-color: #ee6350; border-radius: 4px;color: white;font-size: 14px;}
.column { margin: 0 auto; width: 1200px; display: block; clear: both; }
@media (min-width: 992px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15 {
    float: left;
  }
.col-1 { width: 6.66666667%; position: relative;}
.col-2 { width: 13.3333333%; position: relative;}
.col-3 { width: 20%; position: relative;}
.col-4 { width: 26.6666667%; position: relative;}
.col-5 { width: 33.3333333%; position: relative;}
.col-6 { width: 40%; position: relative;}
.col-7 { width: 46.6666667%; position: relative;}
.col-8 { width: 53.3333333%; position: relative;}
.col-9 { width: 60%; position: relative;}
.col-10 { width: 66.66666667%; position: relative;}
.col-11 { width: 73.33333333%; position: relative;}
.col-12 { width: 80%; position: relative;}
.col-13 { width: 86.66666667%; position: relative;}
.col-14 { width: 93.33333333%; position: relative;}
.col-15 { width: 100%; position: relative;}

.conetent-box { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

.footer { height: 360px;}
.footer .header { font-size: 18px;}
.footer .link { font-size: 16px;}
.footer .text { font-size: 14px;}
.footer .cont { height:320px;background:#262626;}
.footer .cont .left { height:320px;width:366px;padding-left: 60px;float: left;}
.footer .cont .left .left-up { height:180px;width:306px;margin-top: 32px;}
.footer .cont .left .left-up p { margin-top: 20px;}
.footer .cont .left .left-down { height:120px;width:306px;}
.footer .cont .left .left-down p { margin-top: 20px;}
.footer .cont .mid { margin: 32px 0px 0px 100px; height: 180px; width: 306px; float: left;}
.footer .cont .mid p { margin-top: 20px;}
.footer .cont .right {  margin: 32px 0px 0px 100px; height: 180px; width: 306px; float:left;}
.footer .cont .right p { margin-top: 20px;}
.footer .bottom { height: 40px; background: #0c0c0c;}
.footer .bottom .text { margin-left: 64px; line-height: 40px;}

#article .column .left img { width: 780px; height: 179px;}

img { border: 0px; }
li { list-style: none; }

.icon-book { display: inline-block; width: 19px; height: 19px; background: url(/img/icon/book.png); }
.icon-call { display: inline-block; width: 64px; height: 64px; background: url(/img/icon/call.png); }

.section-title { height: 28px; padding-left: 14px; border-left: 6px solid #7eb702; font-size: 20px; font-weight: bold; line-height: 28px; float: left; }
.split-big-deep-line { height: 5px; background: #777777; width: 100%; }
.split-big-line { height: 5px; background: #d4d4d4; width: 100%; }
.split-line { height: 1px; background: #d4d4d4; width: 100%; }
.split-light-line { height: 1px; background: #e6eaed; width: 100%; }
a { text-decoration: none; }

a.btn-see-all { display: inline-block; width: 160px; height: 38px; background: url(/img/seeall.png) no-repeat; }
a.btn-see-all:hover { background: url(/img/seeall-on.png) no-repeat; }

.btn { border: 0px; text-align: center; text-decoration: none; float: left; min-width: 60px; cursor: pointer; height: 34px; line-height: 31px; border-radius: 0px; padding: 0px; color: #fff; }

input { background: #fff; display: inline-block; float: left; border: 1px solid #d9d9d9; width: 178px; height: 34px; padding: 5px 5px; outline: none; }

.blue { color: #019df0; }
.red { color: #f14f26; }

textarea {
	overflow: hidden;
	border: 0px;
	background-color: #e5e8eb;
	resize:none;
}


